<app-navi></app-navi>


<div class="container">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input [(ngModel)]="product.name" type="text" class="form-control" id="name" name="name" placeholder="Product Name" formControlName="name">

    </div>
    <div class="form-group">
      <label for="price">Price, $:</label>
      <input [(ngModel)]="product.price" type="number" class="form-control" id="price" name="price" placeholder="Price" formControlName="price">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

    <div *ngIf="httpStatus>=400 && httpStatus<500" class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Submit Problem!</h4>
      <p>Your submision was failed with status: {{httpStatus}}.</p>
    </div>

    <div *ngIf="httpStatus>=200 && httpStatus<300" class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>Your data are on server.</p>
    </div>
  </form>

</div>