<div class="col-sm-6">
    <h1>Login</h1>
    <div class="col-sm-12 form-group">
        <label>Username</label>
        <input class="form-control" type="text" [(ngModel)]="loginData.username" #username="ngModel" required/>

        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

            <div *ngIf="username.errors.required">
                username is required.
            </div>
        </div>

    </div>
    <div class="col-sm-12 form-group">
        <label>Password</label>
        <input class="form-control" type="password" [(ngModel)]="loginData.password" #password="ngModel" required/>

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

            <div *ngIf="password.errors.required">
                password is required.
            </div>
        </div>

    </div>


    <div class="col-sm-12">
        <button class="btn btn-primary pull-right" (click)="login()" [disabled]="!username.valid || !password.valid"
            type="submit">Login</button>
    </div>
</div>