<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Online Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li *ngIf="isAdmin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/productForm" routerLinkActive="active">New Product</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/products" routerLinkActive="active">Product List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="logout()" href="login">Logout</a></li>
    </ul>
  </div>
</nav>