<app-navi></app-navi>

<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>add to bucket</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <a (click)="addToBucket(product)" href="javascript:void(0)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a [routerLink]="['/products', product.id]">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="httpStatus>=400 && httpStatus<500" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Retrieve data Problem!</h4>
    <p>Data fetch failed with status: {{httpStatus}}.</p>
  </div>

</div>