<app-navi></app-navi>

<div class="container">
    <h3>Products in your bucket</h3>
    <p>{{account.name}}</p>
    <p>{{account.surname}}</p>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bucketItem of bucketItems">
          <td>{{ bucketItem.product.name }}</td>
          <td>{{ bucketItem.product.price }}</td>
          <td>{{ bucketItem.quantity }}</td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="httpStatus>=400 && httpStatus<500" class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Retrieve data Problem!</h4>
      <p>Data fetch failed with status: {{httpStatus}}.</p>
    </div>
  
  </div>